* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(213, 213, 213);
}
.calc {
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 50px;
    height: 850px;
    width: 490px;
}
.space{
    /* height: 50px; */
    /* padding: 50px; */
}
.buttons{
    margin-top: 265px;
    padding: 20px;
    width: 500px;
    height: 00px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    font-size: 40px;
}
.space{
    height: 200px;
}
.button {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  /* margin: 0.2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark {
  background-color: #333333;
}
.light {
  background-color: #a5a5a5;
  color: black;
}
.orange {
  background-color: #f1a33c;
}
.btn17 {
  grid-column: 1 / span 2;
  border-radius: 100px;
  width: 220px;
  display: flex;
  justify-content:flex-start;
  padding-left: 40px;
}